<!-- 
for ADMIN
    first have choose 
1. patient 
2. plan 
3. therapist 
4. get info

for USER
have choose
1.patient
2. plan 
3. get info
-->


<div class="container-fluid dark-card card mx-2 my-2 px-4 py-2 w-100">

    <div class="row d-flex justify-content-around">
        <div class="col-12 mt-3 mb-3">
            <h2 class="nice-text"> דיווח על שיעור</h2>
        </div>

       <!--              PATIENT                    -->
        <div class="col-md-12 col-sm-12 mb-1 px-auto form-group text-right" *ngIf="this.db.userNow.isAdmin">
            <mat-form-field class=" w-100">
                <input matInput class="form-item white-text" type="text" name="Pid" placeholder=" תלמיד" [(ngModel)]="Pid" [matAutocomplete]="autoP">
                <mat-error *ngIf="!Pid">חובה להכניס מספר זהות תלמיד</mat-error>
                <mat-autocomplete #autoP="matAutocomplete">
                    <mat-option *ngFor="let pat of db.allPatientList" [value]="pat.id">
                        {{ pat.firstName }} {{ pat.lastName }}
                    </mat-option>
                </mat-autocomplete>

            </mat-form-field>
        </div>

        <div class="col-md-12 col-sm-12 mb-1 px-auto form-group text-right" *ngIf="this.db.userNow.isAdmin">
            <mat-form-field class=" w-100">
                <input matInput class="form-item white-text" type="text" name="Pid" placeholder=" תלמיד" [(ngModel)]="Pid" [matAutocomplete]="autoP">
                <mat-error *ngIf="!Pid">חובה להכניס מספר זהות תלמיד</mat-error>
                <mat-autocomplete #autoP="matAutocomplete">
                    <mat-option *ngFor="let pat of theraPatientList" [value]="pat.id">
                        {{ pat.firstName }} {{ pat.lastName }}
                    </mat-option>
                </mat-autocomplete>

            </mat-form-field>
        </div>

 <!--               END PATIENT                    -->

<!--                PLAN                       -->
        <div class="col-md-12 col-sm-12 mb-1 px-auto form-group text-right" *ngIf="this.db.userNow.isAdmin && canGetPlan">
            <mat-form-field class=" w-100">
                <input matInput class="form-item white-text" type="text" name="Tid" placeholder=" מטפל" [(ngModel)]="Tid" [matAutocomplete]="autoT">
                <mat-error *ngIf="!Tid">חובה להכניס מספר זהות מטפל</mat-error>
                <mat-autocomplete #autoT="matAutocomplete">
                    <mat-option *ngFor="let thera of therapistListForPlan" [value]="thera.id">
                        {{ thera.firstName }} {{thera.lastName}}
                    </mat-option>
                </mat-autocomplete>

            </mat-form-field>
        </div>

<!--              END  PLAN                       -->


<!--                THERAPIST                       -->
        <div class="col-md-12 col-sm-12 mb-1 px-auto form-group text-right" *ngIf="this.db.userNow.isAdmin && canGetTherapist">
            <mat-form-field class=" w-100">
                <input matInput class="form-item white-text" type="text" name="Tid" placeholder=" מטפל" [(ngModel)]="Tid" [matAutocomplete]="autoT">
                <mat-error *ngIf="!Tid">חובה להכניס מספר זהות מטפל</mat-error>
                <mat-autocomplete #autoT="matAutocomplete">
                    <mat-option *ngFor="let thera of therapistListForPlan" [value]="thera.id">
                        {{ thera.firstName }} {{thera.lastName}}
                    </mat-option>
                </mat-autocomplete>

            </mat-form-field>
        </div>

<!--              END  THERAPIST                       -->



<!--                    GET INFO                       -->

<div #info *ngIf="canGetInfo">
        <div class="col-md-3 col-sm-12 mb-1 px-auto form-group text-right">
            <mat-form-field class=" w-100">

                <input type="text" class="form-item form-item-date " matInput [matDatepicker]="date" placeholder="תאריך " name="tDate" [(ngModel)]="tDate" required>
                <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
                <mat-datepicker #date></mat-datepicker>
                <mat-error *ngIf="!tDate">חובה להכניס תאריך </mat-error>
            </mat-form-field>
        </div>
        <div class="col-md-3 col-sm-6 mb-1 px-auto form-group text-right">
            <mat-form-field class=" w-100">
                <input matInput class="form-item" type="number" name="hours" placeholder="מספר שעות " [(ngModel)]="hours" required>
                <mat-error *ngIf="!hours">חובה להכניס מספר שעות </mat-error>
            </mat-form-field>
        </div>
        <div class="col-md-3 col-sm-6 mb-1 px-auto form-group text-right">
            <mat-form-field class=" w-100">
                <input matInput class="form-item back-translate form-item-inputmask" type="text" name="startTime" [(ngModel)]="startTime" placeholder="שעת התחלה" required>

                <mat-error *ngIf="!startTime">חובה להכניס שעת התחלה </mat-error>
            </mat-form-field>
        </div>
        <div class="col-md-3 col-sm-6 mb-1 px-auto form-group text-right">
            <mat-form-field class=" w-100">
                <input matInput class="form-item back-translate form-item-inputmask" type="text" name="endTime" [(ngModel)]="endTime" placeholder="שעת סיום" required>

                <mat-error *ngIf="!endTime">חובה להכניס שעת סיום </mat-error>
            </mat-form-field>
        </div>



        <div class="col-md-3 col-sm-12 mb-1  form-group text-right">
            <mat-form-field class=" w-100">

                <mat-select class="form-item form-item-select" name="kind" placeholder=" סוג שיעור" [(ngModel)]="kind">
                    <mat-option [value]="area" *ngFor="let area of sd.treatmentArea">{{area}}</mat-option>
                </mat-select>
            </mat-form-field>

        </div>

        <div class="col-md-8 col-sm-12 mb-1 px-auto form-group text-right">
            <mat-form-field class=" w-100">
                <input matInput class="form-item" type="text" name="discrib" placeholder="נושא שיעור " [(ngModel)]="discrib" required>
                <mat-error *ngIf="!discrib">חובה להכניס נושא שיעור</mat-error>
            </mat-form-field>
        </div>
        <div class="col-md-12 col-sm-12 mb-1 px-auto form-group text-right">
            <mat-form-field class=" w-100">
                <textarea matInput class="form-item" name="comment" placeholder="הערות " [(ngModel)]="comment"></textarea>
            </mat-form-field>
        </div>

    </div>



    <div class="row d-flex mt-5 mb-4 justify-content-around ">
        <!-- <div class="col-md-3 col-sm-6 col-xs-6 col-lg-2 mb-2">
                <button class="my-button my-btn-lg w-100" (click)="showMoreOptions=! showMoreOptions; updateTPid() ">פרטים נוספים<i class="fa fa-chevron-down mr-1 "></i></button>
            </div>-->
        <div class="col-md-3 col-sm-4 col-xs-6 col-lg-2 mr-auto mb-2">
            <button class="my-primary my-button my-btn-lg w-100" (click)="cleanForm()">אפס שדות
        <i class="fa fa-times mr-1 "></i>
      </button>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6 col-lg-2 mb-2">
            <button class="my-primary my-button my-btn-lg w-100" (click)="saveNewtreatment() ">שמור
        <i class="fa fa-save mr-1 " [disabled]="!(Pid&&Tid&&startTime&&tDate&&discrib&&hours)"></i>
      </button>
        </div>

    </div>

    </div>


</div>