<div class="black-text">
    <p>
        הוספת מטופלים מקובץ אקסל
    </p>


    <input type="file" style="display: inline-block;" (change)="incomingfile($event)" placeholder="בחר קובץ" accept=".xlsx">
    <button type="button" class="btn btn-info" (click)="Upload()">טען נתונים</button>


    <div class="container pt-5 ">
        <table class="table table-striped table-bordered table-hover">
            <tr class="nice-text">
                <th></th>
                <th>שם פרטי</th>
                <th>שם משפחה</th>
                <th>מספר זהות</th>
                <th>שם האב </th>
                <th> נייד אבא </th>
                <th>נייד אמא </th>
                <th>תאריך לידה </th>
                <th>כתה</th>
                <th>קופת חולים</th>
            </tr>
            <tr class="black-text" *ngFor="let p of PfromExel; let i = index">
                <td>{{i+1}}</td>
                <td>{{p.fname}}</td>
                <td>{{p.lname}}</td>
                <td>{{p.id}}</td>
                <td>{{p.father}}</td>
                <td>{{p.fatherPhone}}</td>
                <td>{{p.motherPhone}}</td>
                <td>{{p.birthDate}}</td>
                <td>{{p.grade}}</td>
                <td>{{p.kupatCholim}}</td>
            </tr>
        </table>
    </div>

    <button type="button" class="btn btn-info" (click)="addPatientFromExel()">שמור</button>
    <button type="button" class="btn btn-info" (click)="updatePatientFromExel()">עדכן תלמידים קימים</button>

</div>