<div class="container">

    <h1 class="purple-text center mt-5 mb-5">אנחנו עובדים על זה..... </h1>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    <!-- <p-treeTable [value]="files">
        <ng-template pTemplate="header">
            <tr>
                <th>Name</th>
                <th>Size</th>
                <th>Type</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
            <tr>
                <td>
                    <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
                    {{rowData.name}}
                </td>
                <td>{{rowData.size}}</td>
                <td>{{rowData.type}}</td>
            </tr>
        </ng-template>
    </p-treeTable>

    <mat-tree class="list-group" [dataSource]="dataSource" [treeControl]="treeControl">
        <mat-tree-node class="list-group-item" *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding>
            <button mat-icon-button disabled></button> {{node.filename}} : {{node.type}}
        </mat-tree-node>

        <mat-tree-node class="list-group-item" *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
            <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.filename">
      <mat-icon class="mat-icon-rtl-mirror">
        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
      </mat-icon>
    </button> {{node.filename}} : {{node.type}}
        </mat-tree-node>
    </mat-tree>
</div>

<div class="view overlay card col-3">
    <i class="fa fa-id-card-o fa-4x orange-text"></i>
    <h6 class="my-4 font-weight-bold purple-text">עמכנגהבסזהבס</h6>
    <div class="mask flex-center rgba-purple-strong  pt-3 blue-border">
        <p class="white-text">Light overlay</p>
    </div> -->
</div>