<!--Main Navigation-->
<header>

    <!--Navbar-->


    <!--Intro Section-->
    <section class="view intro-2">
        <div class="full-bg-img mask rgba-stylish-strong">
            <div class="container flex-center">
                <div class="d-flex align-items-center w-100">
                    <div class="row flex-center pt-5 mt-3 w-100">
                        <div class="col-md-6 text-center text-md-left mb-5">
                            <div class="white-text">
                                <h2 class="h1 display-4 wow fadeInLeft" data-wow-delay="0.3s">קדימה</h2>
                                <hr class="hr-light wow fadeInLeft" data-wow-delay="0.3s">
                                <h6 class="wow fadeInLeft" data-wow-delay="0.3s">ניהול מערכת לקידום תלמידים</h6>
                                <br>
                                <a class="btn peach-gradient wow fadeInLeft waves-light" data-wow-delay="0.3s" mdbWavesEffect>הרשם למערכת</a>
                            </div>
                        </div>

                        <div class="col-md-6 col-xl-5 offset-xl-1">
                            <!--Form-->
                            <div class="card wow fadeInRight" data-wow-delay="0.3s">
                                <div class="card-body z-depth-2">
                                    <!--Header-->
                                    <div class="text-center">
                                        <h3>כניסה למערכת</h3>
                                        <hr>
                                    </div>

                                    <!--Body-->
                                    <div class="md-form">
                                        <i class="fa fa-user prefix grey-text"></i>
                                        <input type="text" id="form3" class="form-control" mdbInputDirective>
                                        <label for="form3">שם משתמש</label>
                                    </div>
                                    <div class="md-form">
                                        <i class="fa fa-envelope prefix grey-text"></i>
                                        <input type="password" id="form2" class="form-control" mdbInputDirective>
                                        <label for="form2">סיסמא</label>
                                    </div>

                                    <!--Textarea with icon prefix-->


                                    <div class="text-center">
                                        <button class="btn peach-gradient waves-light" mdbWavesEffect>כניסה</button>
                                        <hr>
                                        <fieldset class="form-group">
                                            <input type="checkbox" id="checkbox1">
                                            <label for="checkbox1">זכור אותי</label>
                                        </fieldset>
                                    </div>

                                </div>
                            </div>
                            <!--/.Form-->
                            <a class="btn-floating btn-lg purple-gradient waves-light" mdbWavesEffect>
                                <i class="fa fa-phone" [routerLink]="'/contact'"></i>
                            </a>
                            <a class="btn-floating btn-lg purple-gradient waves-light" mdbWavesEffect>
                                <i class="fa fa-home" [routerLink]="'/about'"></i>
                            </a>
                            <a class="btn-floating btn-lg purple-gradient waves-light" mdbWavesEffect>
                                <i class="fa fa-bolt"></i>
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</header>
<!--Main Navigation-->