.intro-2 {
    background-image: ("")no-repeat center center;
    background-size: cover;
}

// https://www.google.co.il/imgres?imgurl=https%3A%2F%2Fcdn2.my-deco-shop.com%2F1347-33184-thickbox%2Fcookbook-gardening-notebook-diy-eco-responsible-design.jpg&imgrefurl=https%3A%2F%2Fwww.my-deco-shop.com%2Fhe%2Fstationary-eco-friendly-design-he%2F1347-cookbook-gardening-notebook-diy-eco-responsible-design.html&docid=aQjiUXEg7HMXCM&tbnid=ujNhjVvTC4WK6M%3A&vet=10ahUKEwjHvYSYh-vbAhVJ3KQKHRGOCcAQMwhEKAkwCQ..i&w=600&h=600&bih=508&biw=1080&q=%D7%AA%D7%9E%D7%95%D7%A0%D7%94%20%D7%A1%D7%A4%D7%A8%20%D7%9F%D7%9E%D7%97%D7%91%D7%A8%D7%AA&ved=0ahUKEwjHvYSYh-vbAhVJ3KQKHRGOCcAQMwhEKAkwCQ&iact=mrc&uact=8
.view {
    height: 100vh !important;
}

.top-nav-collapse {
    background-color: #ff8a65 !important;
}

.navbar:not(.top-nav-collapse) {
    background: transparent !important;
}

@media (max-width: 768px) {
    .navbar:not(.top-nav-collapse) {
        background: #ff8a65 !important;
    }
}

.md-form .prefix {
    font-size: 1.5rem;
    margin-top: 1rem;
}

h6 {
    line-height: 1.7;
}

@media (max-width: 740px) {
    .full-height,
    .full-height body,
    .full-height header,
    .full-height header .view {
        height: 1150px;
    }
}