

<mat-menu #appMenu="matMenu">
  <button mat-menu-item [routerLink]="['voice-setting']">  
      <mat-icon>settings</mat-icon>
      <span>Settings</span>
  </button>

  <button mat-menu-item [routerLink]="['']"> 
    <mat-icon>home</mat-icon>
    <span>Home</span>
  </button>

  <button mat-menu-item [routerLink]="['about']"> 
    <img src="/assets/cook.png" id="menu"/>
    <span>About</span>
  </button>
  
  <button mat-menu-item [matMenuTriggerFor]="recipes">
      <mat-icon>description</mat-icon>
      <span>Recipes</span>
  </button>
  <button mat-menu-item [routerLink]="['categories']"> 
      <mat-icon>category</mat-icon>
      <span>Categories</span>
  </button>
  <button mat-menu-item [matMenuTriggerFor]="new">
      <mat-icon>add</mat-icon>
      <span>New</span>
  </button>
  <button mat-menu-item [matMenuTriggerFor]="search">
    <mat-icon>search</mat-icon>
    <span>Search</span>
  </button>
  <button mat-menu-item [routerLink]="['share']">
    <mat-icon> share </mat-icon>
    <span> Share </span>
  </button>
</mat-menu>

<mat-menu #recipes="matMenu">
  <button mat-menu-item [routerLink]="['recipeList']" >Recipes List</button>
  <button mat-menu-item [routerLink]="['recipeList']">My Recipes</button>
  <button mat-menu-item [routerLink]="['recipe']">New</button>
</mat-menu>

<mat-menu #new="matMenu">
  <button mat-menu-item [routerLink]="['recipe']">Recipe</button>
  <button mat-menu-item [routerLink]="['categories/add-category']">Category</button>
</mat-menu>

<mat-menu #search="matMenu">
  <button mat-menu-item [routerLink]="['search-by-categories']">By Category</button>
  <button mat-menu-item [routerLink]="['search-by-picture']">By Picture</button>
  <button mat-menu-item [routerLink]="['search-by-keywords']">By key words</button>
</mat-menu>

<button mat-button [matMenuTriggerFor]="appMenu">
   <mat-icon>menu</mat-icon>
</button>