<div class="container">
    <div class=" animated  slideInRight center ">
        <div>
            <h1 class="text-weight-bold">
                Welcome to Kadima application
            </h1>
        </div>
        <div class="view hm-zoom">
            <img src='assets\\homeImg\\logo.png' class="center" alt="">
            <div class="mask flex-center">

            </div>
        </div>
        <h5 class="body-margin"> In the 21st century many students are being diagnosed. New methods of treatment are developed and are developing,
            ranging from training for the visually impaired, continue to methods for the study of interpersonal communication
            and to autistic people of varying degrees, emotional treatments and of course methods of treating dyscalculia
            and learning difficulties. But even today, with all the advanced methods, there is still a large percentage of
            all students who do not reach the matriculation certificate. There are still emotional distress, and difficulties
            in interpersonal communication prevent Asperger's Diagnosed from realizing their potential in the labor market.
            This is due, inter alia, to the Insufficient utilization of resources.
            <hr>
            <bold>
                The system that is opened will try to answer the existing deficiencies. And rationalize the current system.
            </bold>
        </h5>


    </div>
</div>
