<div class="container">
    <div class=" animated  slideInRight center ">
        <div>
            <h1 class="text-weight-bold">
                Welcome to Say Cook Book application
            </h1>
        </div>
        <div class="view hm-zoom">
            <img src='assets\\homeImg\\logo.png' class="center" alt="">
            <div class="mask flex-center">

            </div>
        </div>
        <div class="body-margin"> Say CookBook is a project that becomes the most useful application for all the cooking enthusiasts among us. Always in the middle of baking when your hands are in action, wet or holding baking products. When we want to check how to move on in the recipe, we get angry.
        </div>

        <div class="body-margin">
            <mat-toolbar>
                <a href="https://gitHub.com/sarabuc/SayCookBook" class="link">
                    <h4 color="primary">Read more about us in GitHub</h4>
                </a>
            </mat-toolbar>
            <mat-toolbar>
                <a href="https://gitHub.com/sarabuc/SayCookBook" class="link">
                    <h4 color="primary">For bug or comment, please open us a issue in gitHub.</h4>
                </a>
            </mat-toolbar>
        </div>
    </div>
</div>


<!--Section: Contact v.1-->
<section class="section pb-5 cenrer">

    <!--Section heading-->
    <h2 class="section-heading h1 pt-4">Contact us</h2>
    <!--Section description-->
    <p class="section-description pb-4">We Are Here! For every problem or suggestion..</p>

    <div class="row">

        <!--Form with header-->
        <div class="card center">

            <div class="card-body">
                <!--Header-->
                <div class="form-header blue accent-1">
                    <h3><i class="fa fa-envelope"></i>Write us:</h3>
                </div>

                <p>We'll write rarely, but only the best content.</p>
                <br>

                <!--Body-->
                <div class="md-form">
                    <i class="fa fa-user prefix grey-text"></i>
                    <input mdbActive type="text" id="form3" class="form-control">
                    <label for="form3">Your name</label>
                </div>

                <div class="md-form">
                    <i class="fa fa-envelope prefix grey-text"></i>
                    <input mdbActive type="text" id="form2" class="form-control">
                    <label for="form2">Your email</label>
                </div>

                <div class="md-form">
                    <i class="fa fa-tag prefix grey-text"></i>
                    <input mdbActive type="text" id="form32" class="form-control">
                    <label for="form34">Subject</label>
                </div>

                <div class="md-form">
                    <i class="fa fa-pencil prefix grey-text"></i>
                    <textarea mdbActive type="text" id="form8" class="form-control"></textarea>
                    <label for="form8">Your Message:</label>
                </div>

                <div class="text-center">
                    <button class="btn btn-light-blue waves-light" mdbRippleRadius>Submit</button>
                </div>

            </div>

        </div>
        <!--Form with header-->



    </div>

</section>
<!--Section: Contact v.1-->



<!--Modal: Login with Avatar Form-->
<div mdbModal #form="mdb-modal" class="modal fade" id="modalLoginAvatar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <!-- -->
    <!-- -->

    <div class="modal-dialog cascading-modal modal-avatar modal-sm" role="document">
        <!--Content-->
        <div class="modal-content">

            <!--Header-->
            <div class="modal-header">
                <img src='assets\\homeImg\\logo1.png' class="rounded-circle img-responsive">
            </div>
            <!--Body-->
            <div class="modal-body text-center mb-1">

                <h5 class="mt-1 mb-2">Say Cook Book</h5>

                <div class="md-form ml-0 mr-0">
                    <input mdbActive type="text" id="form29" class="form-control ml-0">
                    <label for="form29" class="ml-0">Enter UserName</label>
                </div>

                <div class="text-center">
                    <button class="btn btn-cyan mt-1 waves-light" mdbRippleRadius>Login <i class="fa fa-sign-in ml-1"></i></button>
                </div>
            </div>

        </div>
        <!--/.Content-->
    </div>
</div>
<!--Modal: Login with Avatar Form-->