<!--Main Navigation-->
<header style="margin-top:-5rem">

    <!--Navbar-->


    <!--Intro Section-->
    <section class="view intro-2 w-100">
        <img src="assets\\homeImg\\logun6.jpg" class="img-fluid w-100" alt="">

        <div class="full-bg-img mask rgba-stylish-strong mt-5 mr-5 ml-5 mb-5">
            <div class="container flex-center">
                <div class="d-flex align-items-center w-100">
                    <div class="row flex-center pt-5 mt-3 w-100">
                        <div class="col-md-6 text-center text-md-left mb-5">
                            <div class="white-text">
                                <h2 class="h1 display-4 wow fadeInLeft" data-wow-delay="0.3s">קדימה</h2>
                                <hr class="hr-light wow fadeInLeft" data-wow-delay="0.3s">
                                <h6 class="wow fadeInLeft" data-wow-delay="0.3s">ניהול מערכת לקידום תלמידים</h6>
                                <br>
                                <a class="btn gradient-3 wow fadeInLeft waves-light" data-wow-delay="0.3s" mdbWavesEffect>הרשם למערכת</a>
                            </div>
                        </div>

                        <div class="col-md-6 col-xl-5 offset-xl-1">
                            <!--Form-->
                            <div class="card wow fadeInRight" data-wow-delay="0.3s">
                                <div class="card-body z-depth-2" style="text-align: right">
                                    <!--Header-->


                                    <!--Body-->
                                    <div class="md-form">
                                        <i class="fa fa-user prefix grey-text"></i>
                                        <input type="text" id="form3" class="form-control" mdbInputDirective>
                                        <label for="form3">שם משתמש</label>
                                    </div>
                                    <div class="md-form">
                                        <i class="fa fa-envelope prefix grey-text"></i>
                                        <input type="password" id="form2" class="form-control" mdbInputDirective>
                                        <label for="form2">סיסמא</label>
                                    </div>

                                    <!--Textarea with icon prefix-->


                                    <div class="text-center">
                                        <button class="btn gradient-3 waves-light" mdbWavesEffect (click)="login()">כניסה</button>

                                    </div>

                                </div>
                            </div>
                            <!--/.Form-->


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</header>
<div (mouseleave)="showOptions=false" style="position: fixed; bottom: 0; right:0.2rem" class="mb-3 mr-5">
    <button *ngIf="showOptions" mat-mini-fab class="gradient-3 my-3">
  <i class="fa fa-envelope fa-lg"></i>
</button>
    <br>
    <button *ngIf="showOptions" mat-mini-fab class="gradient-3 my-3">
  <i class="fa fa-home fa-lg"></i>
</button>
    <br>
    <button *ngIf="showOptions" mat-mini-fab class="gradient-3 my-3">
  <i class="fa fa-phone fa-lg"></i>
</button>
    <br>

    <button mat-fab class="gradient-3 my-3" (click)="showOptions=!showOptions">
<i class="fa fa-arrow-circle-up fa-2x" aria-hidden="true"></i>
</button>
</div>
<!--Main Navigation-->