<div class="row mr-auto ml-auto pr-3 ">
    <div class="col-sm-12 coll-md-1 px-3 mb-3 d-flex justify-content-around">
        <i class="fa fa-search fa-2x white-text ml-3"></i>
        <input type="text" class="form-item white-text w-60" id="myInput" ng-model="test" placeholder="סינון וחיפוש" name="searchMethod" [(ngModel)]="searchMethod">
        <button class="purple" mat-fab (click)="opNewMethod.show($event)"><i class="fa fa-plus"></i></button>
    </div>
    <p-overlayPanel #opNewMethod class="top-0">
        <form class="form-inline md-form mt-2 ml-2 mr-2">
            <div class="w-100 md-form">
                <input class="form-control my-0" type="text" name="newM" placeholder="תיאור שיטה" [(ngModel)]="newM" required>
                <button class="btn btn-sm purple ml-2 px-1" (click)="saveNewMethod();opNewMethod.hide($event)" [disabled]="!newM">
      <i class="fa fa-check"></i>
    </button>
            </div>
        </form>
    </p-overlayPanel>


</div>
<div class="list-group ">
    <div class=" mt-3 pt-2 row d-flex">
        <div *ngFor="let m of  allMethodsList" class="col-sm-12 col-md-6 col-lg-4 mb-2">
            <div *ngIf="isPrefix(m.code)" class="list-group-item link-botton black-text " style="text-align:center">
                {{m.code}}
                <div class=" justify-self-center mt-1">
                    <a class="btn btn-defult btn-sm" (click)="matchToDiff(opDiffi, $event, m.code)">התאם לקושי</a>
                    <a class="btn btn-defult btn-sm" (click)="matchToTherapist(opThera, $event, m.code)">התאם מטפל</a>
                </div>
            </div>

        </div>
    </div>
</div>
<p-overlayPanel #opThera>
    <p-listbox #Tlist [options]="therapists" (onChange)="onChangeSelectedThera($event.value[0], Tlist)" multiple="multiple" checkbox="checkbox" filter="filter" optionLabel="name">
        <p-header>
            <i class="fa fa-pencil"></i> התאמת מטפל
        </p-header>

    </p-listbox>
    <button class="my-button  w-100" (click)="saveMatchTherapist(Tlist, opThera, $event)">שמור</button>
</p-overlayPanel>


<p-overlayPanel #opDiffi>
    <p-listbox #Dlist [options]="treatCategories" (onChange)="onChangeSelectedDiff($event.value[0], Dlist)" multiple="multiple" checkbox="checkbox" optionLabel="code">
        <p-header>
            <i class="fa fa-pencil"></i> התאמת קושי
        </p-header>
    </p-listbox>
    <button class="my-button  w-100" (click)="saveMatchDiffi(Dlist, opDiffi, $event)">שמור</button>

</p-overlayPanel>