<div>
    <div>
        <div class="row d-flex mx-3 px-3">
            <h1 class="h1-responsive mt-3 purple-text mb-3"> מיפוי חדש
                <small class="text-muted mr-3 mb-2">סמן תלמידים הזקוקים למעקב ולחץ על התחל מיפוי</small>
            </h1>
            <mat-slide-toggle class="mr-auto justify-self-end ml-3 mt-4" [(ngModel)]="checkedFastMipuy" (change)="selectCategories.show()">
                <strong> אפשר מיפוי מהיר
                    </strong>
                <small *ngIf="checkedFastMipuy">
                      יש לשמור לפי יציאה
                    </small>
            </mat-slide-toggle>
<!-- 
            <div class="row d-flex mt-5 mb-4 justify-content-end ">
                <p-toggleButton [(ngModel)]="checkedFastMipuy" offLabel="צא ממיפוי מהיר" onLabel="התחל מיפוי מהיר" onIcon="pi pi-times" offIcon="pi pi-check" [style]="{'width':'250px'}"></p-toggleButton>
            </div> -->


        </div>

        <div class="row  px-5 d-flex justify-content-around  py-2 grey lighten-3 my-2">
            <!-- <div class="col-sm-6 coll-md-10 mb-3"> -->
            <i class="fa fa-search fa-2x purple-text mr-1 align-self-center"></i>
            <input type="text" class="form-item white-text align-self-center mr-2 ml-2 my-2" id="myInput" ng-model="test" placeholder="לפי שם פרטי " name="fname" [(ngModel)]="fname">
            <input type="text" class="form-item white-text align-self-center mr-2 ml-2 my-2" id="myInput" ng-model="test" placeholder="לפי שם משפחה " name="lname" [(ngModel)]="lname">
            <input type="text" class="form-item white-text align-self-center mr-2 ml-2 my-2" id="myInput" ng-model="test" placeholder="לפי  כתה " name="grade" [(ngModel)]="grade">


            <!-- </div>
            <div class="col-sm-6 coll-md-2 px-1 mb-3"> -->
            <mat-button-toggle-group #group2="matButtonToggleGroup" class="yellow lighten-2 black-text mr-auto" [(ngModel)]="showWho">

                <mat-button-toggle value="all">
                    הצג הכל
                </mat-button-toggle>
                <mat-button-toggle value="yes">
                    <i class="fa fa-check fa-lg"></i>
                </mat-button-toggle>


                <mat-button-toggle value="no">
                    <i class="fa fa-close fa-lg"></i>
                </mat-button-toggle>
                <mat-button-toggle value="maybe">
                    <i class="fa fa-question fa-lg"></i>
                </mat-button-toggle>

            </mat-button-toggle-group>
            <!-- </div> -->



        </div>


    </div>







    <div class="card card-cascade narrower" *ngIf="this.patientsForMipuy.length>0">

        <section>
            <div class="scroll-fixed-table center">
                <!--Table-->
                <table class="table table-responsive  mb-0   mr-auto ml-auto w-100">

                    <!--Table head-->
                    <thead class="table-head purple white-text ">
                        <tr>
                            <th>
                                <!-- <input class="form-check-input" type="checkbox" id="checkbox">
                                <label class="form-check-label" for="checkbox" class="mr-2 label-table"></label> -->
                            </th>
                            <th class="white-text" *ngIf="!checkedFastMipuy">תעודת זהות
                                <div>תעודת זהות</div>
                            </th>
                            <th class="white-text">שם פרטי
                                <div>שם פרטי </div>
                            </th>
                            <th class="white-text">שם משפחה
                                <div>שם משפחה </div>
                            </th>
                            <th class="white-text">כתה
                                <div>כתה </div>
                            </th>
                            <th class="white-text" *ngIf="!checkedFastMipuy">

                            </th>
                            <th class="white-text" *ngIf="!checkedFastMipuy">
                                האם קים קושי
                                <div>האם קים קושי </div>
                            </th>
                            <th class="white-text" *ngIf="!checkedFastMipuy">אפשרויות
                                <div>אפשרויות </div>
                            </th>
                            <div *ngIf="checkedFastMipuy">
                                <th class=" white-text" *ngFor="let diffi of categoriesForFastMipuy" style="width:130px">{{diffi.description}}
                                    <div>{{diffi.description}} </div>
                                </th>
                            </div>
                        </tr>
                    </thead>
                    <!--Table head-->
                    <!-- <div *ngFor="let pat of db.allPatientList"> -->
                    <!--Table body-->
                    <!-- *ngIf="isFnPrefix(pat.firstName)&&isLnPrefix(pat.lastName)"> -->
                    <tbody *ngFor="let pat of patientsForMipuy; let i=index">

                        <tr *ngIf="isFnPrefix(pat.firstName)&&isLnPrefix(pat.lastName)&&isGradePrefix(pat.grade)&&(showWho=='all'||pat.haveDificult==showWho)">
                            <th scope="row">
                                <!-- <input class="form-check-input" type="checkbox" id="checkbox1">
                                <label class="form-check-label" for="checkbox1" class="label-table"></label> -->
                            </th>
                            <td *ngIf="!checkedFastMipuy">{{pat.id}}</td>
                            <td>{{pat.firstName}}</td>
                            <td>{{pat.lastName}}</td>
                            <td>{{pat.grade}}</td>
                            <td *ngIf="!checkedFastMipuy"></td>
                            <td *ngIf="!checkedFastMipuy">
                                <!-- <app-chips-interaction (choosed)="onChoosed($event, pat)">
                            </app-chips-interaction> -->
                                <mat-button-toggle-group [value]="pat.haveDificult" #group="matButtonToggleGroup" (change)="onChoosed(group.value, pat)" class="yellow lighten-2">

                                    <mat-button-toggle value="yes" class='-tooltip-host' [matTooltip]="tooltip" matTooltipPosition="above">
                                        <i class="fa fa-check fa-lg"></i>
                                    </mat-button-toggle>


                                    <mat-button-toggle value="no" mdbTooltip="אין קושי" placement="bottom">
                                        <i class="fa fa-close fa-lg"></i>
                                    </mat-button-toggle>
                                    <mat-button-toggle value="maybe" mdbTooltip="לא מאובחן" placement="bottom">
                                        <i class="fa fa-question fa-lg"></i>
                                    </mat-button-toggle>

                                </mat-button-toggle-group>
                                <!-- <div class="example-selected-value">Selected value: {{group.value}}</div> -->
                                <!-- <div class="example-selected-value">Selected value: {{pat.haveDificult}}</div> -->

                            </td>
                            <td *ngIf="!checkedFastMipuy">
                                <a #comment (click)="fluid.show(); Pid = pat.id;" class=" btn-rounded " mdbTooltip="הוסף הערות לתלמיד" placement="bottom">
                                    <i class="fa fa-2x fa-comment purple-text ml-2 mr-2"></i>
                                </a>
                                <a #card [routerLink]="['/Pcard', pat.id]" class="  btn-rounded " mdbTooltip="עבור לפרטי תלמיד" placement="bottom">
                                    <i class="fa fa-2x fa-id-card-o purple-text ml-2 mr-2"></i>
                                </a>

                                <button type="button" class="btn btn-outline-secondary btn-sm " mdbWavesEffect #startMipuy (click)="form.show(); Pid= pat.id;" [disabled]="pat.haveDificult != 'yes'" mdbTooltip="הוסף מיפוי" placement="bottom">
                               התחל מיפוי </button>
                            </td>


                            <!-- FAST MIPUY -->
                            <div *ngIf="checkedFastMipuy">
                                <td *ngFor="let diffi of categoriesForFastMipuy" style="width: 130px">
                                    <button type="button" *ngIf="fastMipuyData[i][diffi.code]=='yes'" class="btn my-button my-primary btn-sm" mdbWavesEffect mdbTooltip="לחץ כדי לשנות " placement="bottom" (click)="changeFastData('maybe', i, diffi.code);">
                                יש קושי </button>
                                    <button type="button" *ngIf="fastMipuyData[i][diffi.code]=='no'" class="btn my-button  btn-sm" mdbWavesEffect mdbTooltip="לחץ כדי לשנות " placement="bottom" (click)="changeFastData('yes', i, diffi.code);">
                                אין קושי </button>
                                    <button type="button" *ngIf="fastMipuyData[i][diffi.code]=='maybe'" class="btn my-button purple lighten-4 btn-sm" mdbWavesEffect mdbTooltip="לחץ כדי לשנות " placement="bottom" (click)="changeFastData('no', i, diffi.code);">
                                לבדיקה  </button>
                                </td>
                            </div>

                            <!-- <div *ngFor="let area of this.db.treatmentCategories">
                            <td *ngIf="!checkedFastMipuy">

                            </td>
                        </div> -->
                        </tr>
                        <tr>

                    </tbody>
                    <!--Table body-->
                    <!-- </div> -->
                </table>
                <!--Table-->
            </div>
        </section>
        <mat-divider></mat-divider>
        <button type="button" #btnn *ngIf="checkedFastMipuy" class="btn  my-button my-primary" (click)="saveFastMipuy()">שמור מיפוי מהיר</button>

    </div>
</div>
<div class="card purple-text" *ngIf="this.patientsForMipuy.length==0">
    אין תלמידים ברשימה
</div>



<div mdbModal #form="mdb-modal" [class]="mipuyModeClass" id="modalContactForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="overflow: auto">
    <div class="modal-dialog modal-fluid" role="document">
        <div class="modal-dialog cascading-modal" role="document">

            <div class="modal-content">


                <div class="modal-header purple white-text">
                    <h4 class="title">
                        <i class="fa fa-pencil mr-1 ml-1"></i> עדכן קשיים</h4>
                    <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close" (click)="form.hide();init()">
                       <span aria-hidden="true">×</span>
                    </button>
                </div>

                <div class="modal-body mb-0">

                    <app-show-difficulties (finishedMipuy)="closeModal($event)" #showDif [status]="'mipuy'" [Pid]="Pid"></app-show-difficulties>

                </div>
            </div>

        </div>
    </div>

</div>


<div mdbModal #fluid="mdb-modal" class="modal fade left" id="fullHeightModalRight" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-left" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title w-100" id="myModalLabel">הוסף הערה</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="fluid.hide()">
          <span aria-hidden="true">×</span>
        </button>
            </div>
            <div class="modal-body">
                <h3 mat-subheader>הערות</h3>

                <mat-selection-list #comm [ngModel]="selectedOptions">
                    <mat-list-option [value]="com" *ngFor="let com of comments">
                        {{com}}
                    </mat-list-option>
                    <mat-list-option [value]="otherComm.value">
                        <mat-form-field style="text-align: center">
                            <input matInput #otherComm placeholder="אחר">
                        </mat-form-field>

                    </mat-list-option>
                </mat-selection-list>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-secondary waves-light" data-dismiss="modal" (click)="fluid.hide();selectedOptions = []" mdbWavesEffect>סגור</button>
                <button type="button" class="btn btn-primary waves-light" mdbWavesEffect (click)="saveComments(); fluid.hide();">שמור</button>
            </div>
        </div>
    </div>
</div>






<div mdbModal #selectCategories="mdb-modal" class="modal fade left" id="fullHeightModalRight" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="overflow: auto">
    <div class="modal-dialog  modal-left" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title w-100" id="myModalLabel" *ngIf="checkedFastMipuy">בחר תחומים למיפוי</h4>
                <h4 class="modal-title w-100" id="myModalLabel" *ngIf="!checkedFastMipuy">שים לב</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="selectCategories.hide()">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <mat-selection-list #cats >
                   <div *ngIf="checkedFastMipuy">
                    <mat-list-option *ngFor="let cat of db.treatmentCategories">
                        {{cat.code}}
                    </mat-list-option>
                </div>
                </mat-selection-list>


                <p class="purple-text" *ngIf="!checkedFastMipuy">נתונים שלא שמרת לא נשמרו.</p>

            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-secondary waves-light" data-dismiss="modal" (click)="selectCategories.hide();" mdbWavesEffect>סגור</button>
                <button type="button" class="btn btn-primary waves-light" mdbWavesEffect (click)="saveCategories(cats.options._results); selectCategories.hide();" *ngIf="checkedFastMipuy">שמור והתחל מיפוי</button>
            </div>
        </div>
    </div>
</div>