<div>
    <div>
        <h1 class="h1-responsive mt-3 purple-text mb-3"> מיפוי חדש
            <small class="text-muted mr-3 mb-2">סמן תלמידים הזקוקים למעקב ולחץ על התחל מיפוי</small>
        </h1>
        <div class="row  px-5 d-flex justify-content-around  py-2 grey lighten-3 my-2">
            <!-- <div class="col-sm-6 coll-md-10 mb-3"> -->
            <i class="fa fa-search fa-2x purple-text mr-1 align-self-center"></i>
            <input type="text" class="form-item white-text align-self-center mr-2 ml-2 my-2" id="myInput" ng-model="test" placeholder="לפי שם פרטי " name="fname" [(ngModel)]="fname">
            <input type="text" class="form-item white-text align-self-center mr-2 ml-2 my-2" id="myInput" ng-model="test" placeholder="לפי שם משפחה " name="lname" [(ngModel)]="lname">
            <input type="text" class="form-item white-text align-self-center mr-2 ml-2 my-2" id="myInput" ng-model="test" placeholder="לפי  כתה " name="grade" [(ngModel)]="grade">

            <!-- </div>
            <div class="col-sm-6 coll-md-2 px-1 mb-3"> -->
            <mat-button-toggle-group #group2="matButtonToggleGroup" class="yellow lighten-2 black-text mr-auto" [(ngModel)]="showWho">

                <mat-button-toggle value="all">
                    הצג הכל
                </mat-button-toggle>
                <mat-button-toggle value="yes">
                    <i class="fa fa-check fa-lg"></i>
                </mat-button-toggle>


                <mat-button-toggle value="no">
                    <i class="fa fa-close fa-lg"></i>
                </mat-button-toggle>
                <mat-button-toggle value="maybe">
                    <i class="fa fa-question fa-lg"></i>
                </mat-button-toggle>

            </mat-button-toggle-group>
            <!-- </div> -->



        </div>


    </div>







    <div class="card card-cascade narrower">
        <!--

        <div class="view view-cascade  gradient-card-header blue-gradient narrower py-2 mx-4 mb-3 d-flex justify-content-between align-items-center">

            <div class="mr-5">
                <button type="button nav-item" class="btn btn-outline-white btn-rounded btn-sm px-1waves-light" mdbTooltip="הוסף תלמיד" placement="bottom" mdbWavesEffect><i class="fa fa-plus mt-0 "></i></button>
                <button type="button nav-item" class="btn btn-outline-white btn-rounded btn-sm px-1waves-light" mdbTooltip="כרטיס תלמיד" placement="bottom" mdbWavesEffect><i class="fa fa-address-card mt-0"></i></button>
            </div>

            <a href="" class="white-text mx-3">התלמידים במערכת</a>

            <div class="ml-5">
                <button type="button nav-item" class="btn btn-outline-white btn-rounded btn-sm px-1aves-light" mdbTooltip="קשיים וטיפולים" placement="bottom" mdbWavesEffect><i class="fa fa-th-list mt-0"></i></button>
                <button type="button nav-item" class="btn btn-outline-white btn-rounded btn-sm px-1waves-light" mdbTooltip="דיווח על טיפול" placement="bottom" mdbWavesEffect><i class="fa fa-info-circle mt-0 "></i></button>
            </div>

        </div>
      -->



        <div class=" center">
            <!--Table-->
            <table class="table  mb-0 table-responsive  mr-auto ml-auto">

                <!--Table head-->
                <thead class=" purple white-text view">
                    <tr>
                        <th>
                            <!-- <input class="form-check-input" type="checkbox" id="checkbox">
                                <label class="form-check-label" for="checkbox" class="mr-2 label-table"></label> -->
                        </th>
                        <th class="th-lg white-text">תעודת זהות </th>
                        <th class="th-lg white-text">שם פרטי</th>
                        <th class=" th-lg white-text">שם משפחה</th>
                        <th class=" th-lg white-text">כתה</th>
                        <th class="th-lg white-text">

                        </th>
                        <th class="th-lg white-text">
                            האם קים קושי
                        </th>
                        <th class="th-lg white-text">אפשרויות</th>
                    </tr>
                </thead>
                <!--Table head-->
                <!-- <div *ngFor="let pat of db.allPatientList"> -->
                <!--Table body-->
                <!-- *ngIf="isFnPrefix(pat.firstName)&&isLnPrefix(pat.lastName)"> -->
                <tbody *ngFor="let pat of db.allPatientList">

                    <tr *ngIf="isFnPrefix(pat.firstName)&&isLnPrefix(pat.lastName)&&isGradePrefix(pat.grade)&&(showWho=='all'||pat.haveDificult==showWho)">
                        <th scope="row">
                            <!-- <input class="form-check-input" type="checkbox" id="checkbox1">
                                <label class="form-check-label" for="checkbox1" class="label-table"></label> -->
                        </th>
                        <td>{{pat.id}}</td>
                        <td>{{pat.firstName}}</td>
                        <td>{{pat.lastName}}</td>
                        <td>{{pat.grade}}</td>
                        <td></td>
                        <td>
                            <!-- <app-chips-interaction (choosed)="onChoosed($event, pat)">
                            </app-chips-interaction> -->
                            <mat-button-toggle-group [value]="pat.haveDificult" #group="matButtonToggleGroup" (change)="onChoosed(group.value, pat)" class="yellow lighten-2">

                                <mat-button-toggle value="yes" class='example-tooltip-host' [matTooltip]="tooltip" matTooltipPosition="above">
                                    <i class="fa fa-check fa-lg"></i>
                                </mat-button-toggle>


                                <mat-button-toggle value="no" mdbTooltip="אין קושי" placement="bottom">
                                    <i class="fa fa-close fa-lg"></i>
                                </mat-button-toggle>
                                <mat-button-toggle value="maybe" mdbTooltip="לא מאובחן" placement="bottom">
                                    <i class="fa fa-question fa-lg"></i>
                                </mat-button-toggle>

                            </mat-button-toggle-group>
                            <!-- <div class="example-selected-value">Selected value: {{group.value}}</div> -->
                            <!-- <div class="example-selected-value">Selected value: {{pat.haveDificult}}</div> -->

                        </td>
                        <td>
                            <a #comment (click)="fluid.show(); Pid = pat.id;" class=" btn-rounded " mdbTooltip="הוסף הערות לתלמיד" placement="bottom">
                                <i class="fa fa-2x fa-comment purple-text ml-2 mr-2"></i>
                            </a>
                            <a #card [routerLink]="['/Pcard', pat.id]" class="  btn-rounded " mdbTooltip="עבור לפרטי תלמיד" placement="bottom">
                                <i class="fa fa-2x fa-id-card-o purple-text ml-2 mr-2"></i>
                            </a>

                            <button type="button" class="btn btn-outline-secondary btn-sm " mdbWavesEffect #startMipuy (click)="form.show(); Pid= pat.id;" [disabled]="pat.haveDificult != 'yes'" mdbTooltip="הוסף מיפוי" placement="bottom">
                               התחל מיפוי </button>
                        </td>
                    </tr>
                    <tr>

                </tbody>
                <!--Table body-->
                <!-- </div> -->
            </table>
            <!--Table-->
        </div>

        <hr class="my-0">
    </div>
</div>




<div mdbModal #form="mdb-modal" [class]="mipuyModeClass" id="modalContactForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="overflow: auto">
    <div class="modal-dialog modal-fluid" role="document">
        <div class="modal-dialog cascading-modal" role="document">

            <div class="modal-content">


                <div class="modal-header purple white-text">
                    <h4 class="title">
                        <i class="fa fa-pencil mr-1 ml-1"></i> עדכן קשיים</h4>
                    <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close" (click)="form.hide();init()">
                       <span aria-hidden="true">×</span>
                    </button>
                </div>

                <div class="modal-body mb-0">

                    <app-show-difficulties (finishedMipuy)="closeModal($event)" #showDif [status]="'mipuy'" [Pid]="Pid"></app-show-difficulties>

                </div>
            </div>

        </div>
    </div>

</div>


<div mdbModal #fluid="mdb-modal" class="modal fade left" id="fullHeightModalRight" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-left" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title w-100" id="myModalLabel">הוסף הערה</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="fluid.hide()">
          <span aria-hidden="true">×</span>
        </button>
            </div>
            <div class="modal-body">
                <h3 mat-subheader>הערות</h3>

                <mat-selection-list #comm [ngModel]="selectedOptions">
                    <mat-list-option [value]="com" *ngFor="let com of comments">
                        {{com}}
                    </mat-list-option>
                    <mat-list-option [value]="otherComm.value">
                        <mat-form-field style="text-align: center">
                            <input matInput #otherComm placeholder="אחר">
                        </mat-form-field>

                    </mat-list-option>
                </mat-selection-list>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-secondary waves-light" data-dismiss="modal" (click)="fluid.hide();selectedOptions = []" mdbWavesEffect>סגור</button>
                <button type="button" class="btn btn-primary waves-light" mdbWavesEffect (click)="saveComments(); fluid.hide();">שמור</button>
            </div>
        </div>
    </div>
</div>