.main {
    height: 80%;
    background-color: #484242;
    min-height: 400px;
}

h1 {
    margin: 0px;
    padding: 0.67em 0.3em;
    color: #FF9800;
}

.orange {
    background-color: #fa9f36;
}

html,
body,
.view {
    height: 100%;
}


/* Navigation*/

.navbar {
    background-color: transparent;
}

.scrolling-navbar {
    -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
    transition: background .5s ease-in-out, padding .5s ease-in-out;
}

.top-nav-collapse {
    background-color: #1C2331;
}

footer.page-footer {
    background-color: #1C2331;
    margin-top: -1px;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #1C2331;
    }
}

.navbar .btn-group .dropdown-menu a:hover {
    color: #000 !important;
}

.navbar .btn-group .dropdown-menu a:active {
    color: #fff !important;
}


/*Call to action*/

.flex-center {
    color: #fff;
}

.view {
    background: black no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.link {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.body-margin {
    margin: 15px;
    padding: 3px;
}