<div class="card dark-card">
    <div class="row px-3" style="text-align: right">

        <div class="col-md-12 col-sm-12 mb-2 px-2" style="text-align:right">
            <h4 *ngIf="status != 'byTherapist'">
                <small class="yellow-text">שם מטפל</small>
                <strong class="white-text mr-2">{{db.findTherapistNameById(treat.Tid)}}</strong>
            </h4>
            <h4 *ngIf="status != 'byPatient'">
                <small class="yellow-text">שם תלמיד</small>
                <strong class="white-text mr-2">{{db.findPatientNameById(treat.Pid)}}</strong>
            </h4>
        </div>
        <div class="col-md-3 col-sm-6 mb-2 px-2">
            <small class="yellow-text">תאריך</small>
            <strong class="white-text mr-2">{{this_treatDate}}</strong> | <small>{{hebrewDate}}</small>
        </div>
        <div class="col-md-3 col-sm-6 mb-2 px-2">
            <small class="yellow-text">מספר שעות</small>
            <strong class="white-text mr-2">{{treat.hours}}</strong>
        </div>
        <div class="col-md-3 col-sm-6 mb-2 px-2">
            <small class="yellow-text">משעה</small>
            <strong class="white-text mr-2">{{treat.startTime}}</strong>
        </div>

        <div class="col-md-3 col-sm-6 mb-2 px-2">
            <small class="yellow-text">עד שעה</small>
            <strong class="white-text mr-2">{{treat.endTime}}</strong>
        </div>

        <div class="col-md-3 col-sm-12 mb-2 px-2">
            <small class="yellow-text">תחום טיפול</small>
            <strong class="white-text mr-2">{{treat.area}}</strong>
        </div>
        <div class="col-md-9 col-sm-12 mb-2 px-2">
            <small class="yellow-text">נושא טיפול</small>
            <strong class="white-text mr-2">{{treat.description}}</strong>
        </div>

        <div class="col-md-12 col-sm-12 mb-2 px-2" *ngIf="treat.comment">
            <small class="yellow-text">הערות</small>
            <strong class="white-text mr-2">{{treat.comment}}</strong>
        </div>
    </div>



    <mat-divider class="yellow my-2"></mat-divider>
</div>