<div class="view">
    <img src="assets\\homeImg\\logun6.jpg" class="img-fluid w-100" alt="">

    <div class="full-bg-img mask rgba-white-strong">

        <div class="row mb-4 mt-5 ">

            <div *ngFor="let feat of features1" routerLink="/{{feat.route}}" class="col-lg-3 col-md-3 col-sm-6 mb-4 pr-3 pt-1">
                <div class="view overlay  pt-3 wow fadeInUp" style="border-radius:5%" data-wow-delay="0.5s">
                    <i [class]="feat.class"></i>
                    <h4 class="my-4 font-weight-bold purple-text">{{feat.text}}</h4>
                    <p class="purple-text">{{feat.sub}}</p>
                    <div class="mask flex-center rgba-purple-light">
                    </div>
                </div>
            </div>





            <div class="row mb-4 mt-3 d-flex justify-content-around px-3 w-100">

                <div *ngFor="let feat of features2" routerLink="/{{feat.route}}" [class]="feat.class2" data-wow-delay="0.5s">
                    <div class="view overlay pt-3 purple-border" style="border-radius:5%">
                        <i [class]="feat.class"></i>
                        <h6 class="my-4 font-weight-bold purple-text">{{feat.text}}</h6>
                        <div class="mask flex-center rgba-purple-light" rgba-purple-strong></div>
                    </div>
                </div>
            </div>



        </div>
    </div>










    <!--Modal: Contact form-->
    <div mdbModal #form="mdb-modal" class="modal fade" id="modalContactForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog cascading-modal" role="document">
            <!--Content-->
            <div class="modal-content">

                <!--Header-->
                <div class="modal-header light-blue darken-3 white-text">
                    <h4 class="title"><i class="fa fa-pencil"></i> Contact form</h4>
                    <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close" (click)="form.hide()">
                    <span aria-hidden="true">×</span>
                </button>
                </div>
                <!--Body-->
                <div class="modal-body mb-0">
                    <div class="md-form form-sm">
                        <i class="fa fa-envelope prefix"></i>
                        <input mdbActive type="text" id="form19" class="form-control">
                        <label for="form19">Your name</label>
                    </div>

                    <div class="md-form form-sm">
                        <i class="fa fa-lock prefix"></i>
                        <input mdbActive type="password" id="form20" class="form-control">
                        <label for="form20">Your email</label>
                    </div>

                    <div class="md-form form-sm">
                        <i class="fa fa-tag prefix"></i>
                        <input mdbActive type="text" id="form21" class="form-control">
                        <label for="form21">Subject</label>
                    </div>

                    <div class="md-form form-sm">
                        <i class="fa fa-pencil prefix"></i>
                        <textarea mdbActive type="text" id="form8" class="md-textarea mb-0"></textarea>
                        <label for="form8">Your message</label>
                    </div>

                    <div class="text-center mt-1-half">
                        <a href="mailto:sm58000810@gmail.com?cc=name2@rapidtables.com&bcc=name3@rapidtables.com
&amp;subject=The%20subject%20of%20the%20email
&amp;body=The%20body%20of%20the%20email">
  mail us</a>


                        <button class="btn btn-info mb-2 waves-light" mdbRippleRadius>Send <i class="fa fa-send ml-1"></i></button>
                    </div>

                </div>
            </div>
            <!--/.Content-->
        </div>
    </div>
    <!--Modal: Contact form-->
</div>