<div *ngIf="!pat && !PLAN" class="center">
    <mat-card class="center">
        <h4 class="center">טוען...</h4>
        <mat-spinner class="center"></mat-spinner>

    </mat-card>
</div>
<div *ngIf="pat && PLAN">
    <h3 class="purple-text mt-5 mb-3">תכנון טיפול |
        <strong> {{pat.firstName}} {{pat.lastName}}</strong>
    </h3>

    <mat-horizontal-stepper [linear]="'true'">
        <!-- כללי -->
        <mat-step>
            <ng-template matStepLabel>פרטים כללים</ng-template>

            <div class="row d-flex justify-content-around dark-card">

                <div class="col-md-12 col-sm-12  ml-2  text-right">
                    <mat-form-field class=" w-100">
                        <textarea matInput class="form-item" type="text" name="history" placeholder="הסטוריה בקצרה " [(ngModel)]="PLAN.history"></textarea>
                    </mat-form-field>
                </div>
                <div class="row col-md-12 col-sm-12  ml-2  text-right">
                    <mat-form-field class=" w-80 mr-auto ml-auto ">

                        <mat-select class="form-item form-item-select" name="parentsConfirm" placeholder="האם יש אישור הורים" [(ngModel)]="PLAN.parentsApproved">
                            <mat-option value="{{o}}" *ngFor="let o of optionsForParentConfirm">{{o}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <a class="mt-auto mb-auto mr-1 yellow-text" (click)="showParentsDetails.show()" >פרטי התקשרות</a>

                </div>
                <div class="col-md-12 col-sm-12  ml-2  text-right">
                    <mat-form-field class=" w-80">

                        <mat-select class="form-item form-item-select" name="whoPay" placeholder="גורם מממן" [(ngModel)]="PLAN.payer">
                            <mat-option value="{{o}}" *ngFor="let o of sd.FundingFactors">{{o}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="row col-md-12 col-sm-12  ml-2  text-right">
                    <mat-form-field class=" w-80">
                        <input matInput class="form-item" type="number" name="amountConfirmLessons" placeholder="מספר שעות מאושר " [(ngModel)]="PLAN.approvedAmountLesson">
                        <mat-error *ngIf="!amountConfirmLessons">חובה להכניס מספר שעות </mat-error>
                    </mat-form-field>
                 <a class="mt-auto mb-2 mr-1 yellow-text"  >מספר שעות שנותרו : {{PLAN.hoursLeft}} </a>

                </div>
                <div class="col-md-12 col-sm-12  ml-2  text-right">

                    <mat-slide-toggle class="example-margin" color="primary" [(ngModel)]="PLAN.haveDueDate" checkes="false">
                        יש תאריך תפוגת תוקף
                    </mat-slide-toggle>
                    <br>
                    <p-calendar [(ngModel)]="PLAN.dueDate" *ngIf="PLAN.haveDueDate" [locale]="sd.hebrew" dateFormat="dd.mm.yy"  [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030"    [inline]="true"></p-calendar>

                    <!--<mat-form-field *ngIf="PLAN.haveDueDate" class=" w-80">

                        <input type="text" class="form-item form-item-date " matInput [matDatepicker]="birthdate" placeholder="תאריך תפוגה" name="birthDate" [(ngModel)]="PLAN.dueDate">

                        <mat-datepicker-toggle matSuffix [for]="birthdate"></mat-datepicker-toggle>
                        <mat-datepicker #birthdate></mat-datepicker>

                    </mat-form-field>-->
                </div>
            </div>

            <div>
                <button mat-button matStepperNext type="button" [disabled]="amountConfirmLessons&&parentsConfirm&&whoPay"> הבא</button>
            </div>
        </mat-step>

        <mat-step>
            <ng-template matStepLabel>
                <div>קשיים לטיפול</div>
            </ng-template>

            <div class="row d-flex mt-1 mb-2 justify-content-around " *ngIf="status == 'new'">
                <div class="col-md-5 col-sm-12 col-xs-12 col-lg-25  mb-2">
                    <button class="my-primary my-button my-btn-md w-100" (click)="showListOfMipuy()">בחר מתוך רשימת כל המיפויים</button>
                </div>
                <div class="col-md-5 col-sm-12 col-xs-12 col-lg-5 o mb-2">
                    <button class="my-primary my-button my-btn-md w-100" (click)="showLastMipuy()">הראה מיפוי אחרון </button>
                </div>
            </div>


            <div class="list-group mt-1 pt-2  w-90" *ngIf="showListMipuy_V">
                <div *ngFor="let d of mipuyDates ">
                    <a class="list-group-item link-botton " style="text-align:right" (click)="showOneMipuy(d)">
                        <i class="fa fa-check mx-5"></i>{{d.mipuyDate }}</a>
                        <!--| date: 'dd/MM/yyyy'-->
                </div>
            </div>
            <div class="gray lighten-2 my-3 purple-text" *ngIf="showMipuy_V">
                <div *ngIf="!chooesedMipuy" class="center">
                    <mat-card class="center">
                        <h4 class="center">טוען...</h4>
                        <mat-spinner class="center"></mat-spinner>
                    </mat-card>
                </div>
                <div *ngIf="chooesedMipuy == 'no-mipuy'">לא קימים מיפוים עבור תלמיד זה</div>
                <div *ngIf="chooesedMipuy == 'no internet'">שגיאה בקליטת נתונים. נא בדוק את חיבור האינטרנט שלך</div>
                <div *ngIf="chooesedMipuy && chooesedMipuy.mipuyDate">
                    <app-show-mipuy [status]="'plan'" [Pid]="Pid" [mipuyDate]="chooesedMipuy.mipuyDate" [mipuyData]="chooesedMipuy" [planedDiffi]="diffiForPlan" (updateDiffForPlan)="updatediffiForPlan($event)"></app-show-mipuy>
                </div>

            </div>

           <!-- <div class="row d-flex mt-5 mb-4 justify-content-end ">
                <div class="col-md-4 col-sm-12">
                    <button class="my-primary my-button my-btn-lg w-100" *ngIf="thereIsDiffs" (click)="saveMethodsAndTherapist()">
                    שמור
                        <i class="fa fa-save mr-1 "></i>
                    </button>
                </div>
            </div>-->

            <mat-card-actions>
                <button mat-button matStepperPrevious type="button"> הקודם</button>
                <button mat-button matStepperNext type="button">הבא</button>
            </mat-card-actions>

        </mat-step>

        <mat-step>
            <ng-template matStepLabel>
                <div>התאמת טיפול</div>
            </ng-template>
            <div *ngIf="diffiForPlan.length == 0" class="mb-3 mt-3">לא נבחרו קשיים לטיפול עבור תלמיד זה</div>
            <div class="row d-flex mt-5 mb-4 justify-content-start " *ngIf="diffiForPlan.length != 0">
                <p-toggleButton [(ngModel)]="dontHelpPlanning" offLabel="עזור לי להחליט" onLabel="תן לי רשימות מלאות לבחירה" onIcon="pi pi-times" offIcon="pi pi-check" [style]="{'width':'250px'}"></p-toggleButton>
            </div>

            <div class="list-group px-1 py-1 mb-3">
                <div class="" *ngFor="let dif of diffiForPlan; let i = index">
                    <div class="row  list-group-item purple-text yellow lighten-3" *ngIf="dif.value == 'yes'">

                        <div class="col-md-3 col-sm-12">
                            <strong> {{dif.Dcode}} - </strong>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <div *ngIf="dontHelpPlanning">
                             <input matInput class="form-item form-item-select" name="method" placeholder="שיטת טיפול" [(ngModel)]="dif.method">
                              <!--  <mat-option *ngFor="let method of filterMethodForDiff(dif.Dcode)" [value]="method.Mcode">
                                        {{ method.Mcode }}
                                </mat-option>                       
                             </mat-select>-->
                              
                            </div>
                            <div *ngIf="!dontHelpPlanning">
                            <input matInput class="form-item form-item-select" name="method" placeholder="שיטת טיפול" [(ngModel)]="dif.method">
                            <!--    <mat-option *ngFor="let method of allMethods" [value]="method.code">
                                        {{ method.code }}
                                    </mat-option>                  
                             </mat-select>-->
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-10">
                            <div *ngIf="dontHelpPlanning">
                            <mat-select class="form-item form-item-select" name="therapist" placeholder="מטפל" [(ngModel)]="dif.therapist">
                               <mat-option *ngFor="let thera of filterMethodForTherapist(diffiForPlan[i].method)" [value]="thera.Tid">
                                        {{ thera.Tid }} {{thera.lastName}}
                                    </mat-option>                 
                             </mat-select>
                              
                            </div>
                            <div *ngIf="!dontHelpPlanning">
                            <mat-select class="form-item form-item-select" name="therapist" placeholder="מטפל" [(ngModel)]="dif.therapist">
                               <mat-option *ngFor="let thera of db.allTherapistList" [value]="thera.id">
                                        {{ thera.firstName }} {{thera.lastName}}
                                    </mat-option>                 
                             </mat-select>
                               
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
           <!-- <div class="row d-flex mt-5 mb-4 justify-content-end ">
                <div class="col-md-4 col-sm-12">
                    <button class="my-primary my-button my-btn-lg w-100" *ngIf="helpPlanning&&thereIsDiffs" (click)="saveMethodsAndTherapist()"> שמור
                        <i class="fa fa-save mr-1 "></i>
                    </button>
                    <button class="my-primary my-button my-btn-lg w-100" *ngIf="!helpPlanning&&thereIsDiffs" (click)="beforeSave.show()"> שמור
                        <i class="fa fa-save mr-1 "></i>
                    </button>
                </div>
            </div>-->

            <mat-card-actions>
                <button mat-button matStepperPrevious type="button">הקודם</button>
                <button mat-button matStepperNext type="button">הבא</button>
            </mat-card-actions>

        </mat-step>

        <mat-step>
            <ng-template matStepLabel>סיום ושמירה </ng-template>
            <h5 class="first mt-3">העלאת נתונים ודוחות חיצוניים</h5>
            <p-fileUpload #files customUpload="true" (uploadHandler)="uploadFilesForPlan($event, files)" multiple="multiple" class="purple" chooseLabel="בחר קבצים" uploadLabel="טען קבצים" cancelLabel="חזור">
                <ng-template pTemplate="content">
                    <ul *ngIf="uploadedFiles.length">
                        <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
                    </ul>
                </ng-template>
            </p-fileUpload>
            <div class="list-group px-2 py-3 mb-3  col-md-12 col-sm-12" *ngIf="status != 'new'">
                <h6>
                    קבצים שהועלו
                </h6>
                <div *ngIf="planFiles.length < 1">
                    אין קבצים מתאימים
                </div>
                <div class="list-group-item  mx-1 row d-flex justify-content-between" *ngFor="let file of planFiles">
                    <p class="black-text">{{file.fileName}}</p>
                    <div>
                     <a (click)="deleteFile(file.file)" class="purple-text mx-2">מחק קובץ</a>

                        <!-- <a (click)="showFileInBrouser(file.file)" class="purple-text mx-2">הצג קובץ</a>
                            <a (click)="dawnloadFile(file.file, file.fileName)" class="purple-text mx-2">הורד קובץ</a> -->

                    </div>
                </div>
            </div>

            <mat-card-actions>
                <h3 class="purple-text pt-4">האם אתה בטוח שסימת את תכנון הטיפול?</h3>

                <mat-divider></mat-divider>
               <!-- <button type="button" #btnn class="btn purple" (click)="finishPlan()" [disabled]="!chooesedMipuy">שמור וסיים</button>
             -->  <div class="row d-flex mt-5 mb-4 justify-content-end ">
                <div class="col-md-4 col-sm-12">
                    <button class="my-primary my-button my-btn-lg w-100" *ngIf="helpPlanning&&thereIsDiffs" (click)="finishPlan()" [disabled]="!chooesedMipuy"> שמור וסיים
                        <i class="fa fa-save mr-1 "></i>
                    </button>
                    <button class="my-primary my-button my-btn-lg w-100" *ngIf="!helpPlanning&&thereIsDiffs" (click)="beforeSave.show()"  [disabled]="!chooesedMipuy"> שמור וסיים
                        <i class="fa fa-save mr-1 "></i>
                    </button>
                </div>
            </div>
                <br>
                <br>
                <br>
                <button mat-button matStepperPrevious type="button">הקודם</button>

            </mat-card-actions>
        </mat-step>
    </mat-horizontal-stepper>
</div>





<div mdbModal #beforeSave="mdb-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close pull-right" aria-label="Close" (click)="beforeSave.hide()">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title w-100" id="myModalLabel">לחץ לביצוע השמירה</h4>
            </div>
            <div class="modal-body">
                האם ברצונך לעדכן קשרים חדשים בין קשיים לשיטות טיפול ו/או מטפלים?
            </div>
            <div class="modal-footer">
                <button type="button" mdbBtn color="primary" class="btn purple waves-light" mdbWavesEffect (click)="beforeSave.hide();finishPlan()">שמירה בלבד</button>
                <button type="button" mdbBtn color="primary" class="btn  purple waves-light" mdbWavesEffect (click)="beforeSave.hide();finishPlan(); cretaNewConnections()">שמירה ועדכון</button>
            </div>
        </div>
    </div>
</div>


<div mdbModal #showParentsDetails="mdb-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
             <app-patient-profile [pat]="pat" [Pid]="Pid" [status]="'show'" *ngIf="pat"></app-patient-profile>

        </div>
    </div>
</div>