<div *ngIf="!pat" class="center">
    <mat-card class="center">
        <h4 class="center">loading...</h4>
        <mat-spinner class="center"></mat-spinner>

    </mat-card>
</div>
<div *ngIf="pat">
    <h3 class="purple-text mt-5 mb-3">תכנון טיפול |
        <strong> {{pat.firstName}} {{pat.lastName}}</strong>
    </h3>

    <mat-vertical-stepper [linear]="'false'">
        <!-- כללי -->
        <mat-step>
            <ng-template matStepLabel>פרטים כללים</ng-template>

            <div class="row d-flex justify-content-around">
                <div class="col-md-12 col-sm-12 mb-1 ml-2 form-group text-right" *ngIf="parentsConfirmF">
                    <mat-form-field class=" w-80">

                        <mat-select class="form-item form-item-select" name="parentsConfirm" placeholder="האם יש אישור הורים" [(ngModel)]="parentsConfirm">
                            <mat-option value="{{o}}" *ngFor="let o of optionsForParentConfirm">{{o}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-12 col-sm-12 mb-1 ml-2 form-group text-right" *ngIf="whoPayF">
                    <mat-form-field class=" w-80">

                        <mat-select class="form-item form-item-select" name="whoPay" placeholder="גורם מממן" [(ngModel)]="whoPay">
                            <mat-option value="{{o}}" *ngFor="let o of sd.FundingFactors">{{o}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-12 col-sm-12 mb-1 ml-2 form-group text-right" *ngIf="amountConfirmLessonsF">
                    <mat-form-field class=" w-80">
                        <input matInput class="form-item" type="number" name="amountConfirmLessons" placeholder="מספר שעות " [(ngModel)]="amountConfirmLessons">
                        <mat-error *ngIf="!amountConfirmLessons">חובה להכניס מספר שעות </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-12 col-sm-12 mb-1 ml-2 form-group text-right" *ngIf="amountConfirmLessonsF">

                    <mat-slide-toggle class="example-margin" color="primary" [(ngModel)]="haveDueDate" checkes="false">
                        יש תאריך לתפוגת תוקף
                    </mat-slide-toggle>
                    <!-- <mat-form-field class=" " *ngIf="haveDueDate">
                        <input type="text" class="form-item form-item-date " matInput [matDatepicker]="dueDate" placeholder="תאריך תפוגה" name="dueDate" [(ngModel)]="dueDate">
                        <mat-datepicker-toggle matSuffix [for]="dueDate"></mat-datepicker-toggle>
                        <mat-datepicker #dueDate></mat-datepicker>

                    </mat-form-field> -->
                </div>
            </div>
            <div>
                <button mat-button matStepperNext type="button" [disabled]="amountConfirmLessons&&parentsConfirm&&whoPay"> הבא</button>
            </div>
        </mat-step>

        <mat-step>
            <ng-template matStepLabel>
                <div>קשיים לטיפול</div>
            </ng-template>

            <p-inplace closable="closable">
                <span pInplaceDisplay>
                 <div class="row d-flex mt-5 mb-4 justify-content-around ">
                <div class="col-md-5 col-sm-12 col-xs-12 col-lg-25 mr-auto mb-2">
                    <button class="my-primary my-button my-btn-lg w-100" (click)="showListOfMipuy()">בחר מתוך רשימת כל במיפויים</button>
                </div>
                <div class="col-md-5 col-sm-12 col-xs-12 col-lg-5 mr-auto mb-2">
                    <button class="my-primary my-button my-btn-lg w-100" (click)="showLastMipuy()">הראה מיפוי אחרון </button>
                </div>
            </div>
                </span>
                <span pInplaceContent>
                  <div *ngIf="!pat" class="center">
                      <mat-card class="center">
                          <h4 class="center">loading...</h4>
                          <mat-spinner class="center"></mat-spinner>

                      </mat-card>
                      <p-listbox [options]="cars" [(ngModel)]="selectedCar"} [listStyle]="{'max-height':'250px'}">
  <ng-template let-car pTemplate="item">
    <div class="ui-helper-clearfix">
      <img src="assets/showcase/images/demo/car/{{car.label}}.png" style="display:inline-block;margin:5px 0 0 5px" width="48">
      <span style="float:right;margin:20px 10px 0 0">{{car.value}}</span>
</div>
</ng-template>
<p-footer>
    Selected: {{selectedCar||'none'}}
</p-footer>
</p-listbox>

</div>
</span>
</p-inplace>


<mat-card-actions>
    <button mat-button matStepperPrevious type="button"> הקודם</button>
    <button mat-button matStepperNext type="button">הבא</button>
</mat-card-actions>

</mat-step>

<mat-step>
    <ng-template matStepLabel>
        <div>כותרת</div>
    </ng-template>



    <mat-card-actions>
        <button mat-button matStepperPrevious type="button">הקודם</button>
        <button mat-button matStepperNext type="button">הבא</button>
    </mat-card-actions>

</mat-step>

<mat-step>
    <ng-template matStepLabel>סיום ושמירה </ng-template>
    <mat-card-actions>
        <h3 class="purple-text pt-4">האם אתה בטוח שסימת את תכנון הטיפול?</h3>
        <button mat-button matStepperPrevious type="button">הקודם</button>
        <button mat-button (click)="finishPlan()" type="button">סיום</button>
    </mat-card-actions>
</mat-step>
</mat-vertical-stepper>
</div>