<div class="pb-4 my-4 card dark-card pt-3 mx-2">


    <h2 class="white-text"><strong *ngIf="status == 'card'">פרטי תלמיד</strong>
    <strong *ngIf="status == 'plan'">תכנון טיפול לתלמיד</strong>
    <small class="gray-text">  בחר תלמיד כדי להתחיל  </small></h2>
    <div class="row  px-5 d-flex justify-content-around  py-2 grey lighten-3 my-2">
        <i class="fa fa-search fa-2x purple-text mr-1 align-self-center"></i>
        <input type="text" class="form-item white-text align-self-center mr-2 ml-2 my-2" placeholder="לפי שם פרטי " name="fname" [(ngModel)]="db.fname">
        <input type="text" class="form-item white-text align-self-center mr-2 ml-2 my-2" placeholder="לפי שם משפחה " name="lname" [(ngModel)]="db.lname">
        <input type="text" class="form-item white-text align-self-center mr-2 ml-2 my-2" placeholder="לפי  כתה " name="grade" [(ngModel)]="db.grade">
        <mat-select class="form-item w-25" name="findByCategory" placeholder="סנן לפי קושי" (selectionChange)="findPatientsForDiffi()" [(ngModel)]="db.findByCategory">
            <mat-option value="empty" class="gray">ללא סינון</mat-option>
            <mat-option value="{{cat.code}}" *ngFor="let cat of db.secondCategories">{{cat.code}}</mat-option>
        </mat-select>

    </div>


    <div *ngIf="!findedPatientForDiff" class="center w-100">
        <mat-card class="center">
            <h4 class="center">טוען...</h4>
            <mat-spinner class="center"></mat-spinner>

        </mat-card>
    </div>

    <div class="list-group mt-3 pt-2 " *ngIf="patientList && findedPatientForDiff">
        <!-- {{db.allPatientList.length}} תלמידים -->
        <div *ngFor="let p of  db.allPatientList">
            <a *ngIf="isFnPrefix(p.firstName)&&isLnPrefix(p.lastName)&&isGradePrefix(p.grade)&&isPidExist(p.id)" class="list-group-item link-botton " style="text-align:right" (click)="checkAndRoute(p.id)" >
              <!-- [routerLink]="['/Pcard', p.id]" -->
                <i class="fa fa-user mx-5"></i>{{p.firstName}} {{p.lastName}} |    כתה {{p.grade}}</a>
        </div>
    </div>
</div>